body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.quadrado{
  display: flex;
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0.3);
  gap: 10px;
  width: 70%;
  margin: 50px auto;
  padding: 20px;
}

.quadrado img{
  width: 500px;
  height: 90%;
  margin: 10px;
  align-items: center;
  border-radius: 20px;
}

.texto{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.texto p{
  font-size: 28px;
}